.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fab:hover {
  opacity: 0.7;
  background: #808080;
  color: white;
  transition: 0.5s;
}

.fa-github {
  background: white;
  color: #808080;
}

.fa-medium {
  background: white;
  color: #808080;
}

.fa-twitter {
  background: white;
  color: #808080;
}

.fa-linkedin {
  background: white;
  color: #808080;
}

.fa-instagram {
  background: white;
  color: #808080;
}
